<div class="row">
    <div class="col-md-6">
        <div class="col-md-12">
            Some Content..
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12">
            Some Second Content..
        </div>
    </div>
</div>