@model Post

@{
    Layout = "_Layout";
    ViewData["Title"] = "Asset Track";
}

<form asp-controller="Home" asp-action="Edit" method="post">
    <h1>Submit Asset Info</h1>
    <div class="row">
        <div class="col-md-8 order-md-1">
            <p class="text-black-50">This is where you submit all your asset tracking info.</p>
            <form class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="FirstName">First name</label>
                        <input asp-for="FirstName" type="text" class="form-control" id="firstName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="LastName">Last name</label>
                        <input asp-for="LastName" type="text" class="form-control" id="lastName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="Email">Email</label>
                    <input asp-for="Email" type="email" class="form-control" id="email" placeholder="firstname.lastname@parcelhub.co.uk">
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>
                <hr class="mb-4">
                <div class="mb-3">
                    <label for="Type">Computer Type</label>
                    <select asp-for="Type" class="custom-select d-block w-100" id="type" required>
                        <option value="">Choose...</option>
                        <option>Personal Machine</option>
                        <option>Laptop</option>
                        <option>Desktop</option>
                    </select>
                    <div class="invalid-feedback">
                        Please provide a valid Computer Type.
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="MsNo">Machine Number</label>
                        <input asp-for="MsNo" type="text" class="form-control" id="MsNo" placeholder="Example: MS-L001">
                    </div>
                    <div class="col-md-5 mb-3">
                        <label for="As1">Asset Tracking Number</label>
                        <input asp-for="As1" type="text" class="form-control" id="As1" placeholder="Found on the Parcelhub sticker">
                    </div>
                </div>
                <hr class="mb-4">
                <div class="custom-control custom-checkbox">
                    <input asp-for="Keyboard" type="checkbox" id="Keyboard">
                    <label for="Keyboard">Keyboard?</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input asp-for="Mouse" type="checkbox" id="Mouse?">
                    <label for="Mouse<">Mouse?</label>
                </div>
                <hr class="mb-4">
                <button data-toggle="collapse" class="btn btn-primary btn-lg btn-block" data-target="#demo">I Have Screens!</button>
                <br />
                <div id="demo" class="collapse">
                    <div class="mb-3">
                        <label for="Srnnum">Number Of Screens</label>
                        <select asp-for="Srnnum" class="custom-select d-block w-100" id="srnnum" required>
                            <option>None</option>
                            <option>1</option>
                            <option>2</option>
                        </select>

                    </div>
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="Scras">Screen Asset Numbers</label>
                            <input asp-for="Scras" type="text" class="form-control" id="scras2" placeholder="Asset Tracking Numbers here">
                        </div>
                        <div class="col-md-5 mb-3">
                            <label for="Scras2">Screen Asset Numbers</label>
                            <input asp-for="Scras2" type="text" class="form-control" id="scras2" placeholder="Asset Tracking Numbers here">
                        </div>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input asp-for="Dstm" type="checkbox" id="dstm">
                        <label for="Dstm">Docking Station?</label>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
            </form>
        </div>
    </div>
</form>
